.unclicked, .clicked {
	border: 1px solid black;
	width: 50px;
	height: 50px;
	display: inline-block;
}

#board {
	width: 100%;
	height: 100%;
}

#row1, #row2, #row3 {
	width:  100%;

} 

.unclicked {
	background-color: gray;
}

.bomb.clicked {
	background-color: red;
	background-image: url('../images/bomb.jpg');
}

.flag.unclicked {
	background-image: url('../images/flag.jpg');
}

.one.clicked {
	background-image: url('../images/one.jpg');
}

.two.clicked {
	background-image: url('../images/two.jpg');
}

.three.clicked {
	background-image: url('../images/three.jpg');
}

.four.clicked {
	background-image: url('../images/four.jpg');
}

.five.clicked {	
	background-image: url('../images/five.jpg');
}

.six.clicked {
	background-image: url('../images/six.jpg');
}

.seven.clicked {
	background-image: url('../images/seven.jpg');
}

.eight.clicked {	
	background-image: url('../images/eight.jpg');
}

.zero.clicked {
	background-image: url('../images/clicked.jpg');
}