.unclicked,
.clicked,
#row1,
#row2,
#row3 {
	margin: 0;
	padding: 0;
}

.unclicked, .clicked {
	border: 1px solid black;
	width: 30px;
	height: 30px;
	display: inline-block;
}

#face {
	width: 75px;
	height: 75px;
	margin-left: 46.5%;
	margin-top: 100px;
	background-image: url('../images/faceSmile.jpg');
	background-position: center;
	background-repeat: no-repeat;
}

#board {
	height: 100%;
	margin-left: 10%;
	margin-top: 100px;
}

#row1, #row2, #row3 {
	width:  100%;
}

.unclicked,
.bomb.clicked,
.flag.unclicked,
.one.clicked,
.two.clicked,
.three.clicked,
.four.clicked,
.five.clicked,
.six.clicked,
.seven.clicked,
.eight.clicked,
.zero.clicked {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.unclicked {
	background-image: url('../images/unclicked.jpg');
}

.bomb.clicked {
	background-color: red;
	background-image: url('../images/bomb.jpg');
}

.flag.unclicked {
	background-image: url('../images/flag.jpg');
}

.one.clicked {
	background-image: url('../images/one.jpg');
}

.two.clicked {
	background-image: url('../images/two.jpg');
}

.three.clicked {
	background-image: url('../images/three.jpg');
}

.four.clicked {
	background-image: url('../images/four.jpg');
}

.five.clicked {
	background-image: url('../images/five.jpg');
}

.six.clicked {
	background-image: url('../images/six.jpg');
}

.seven.clicked {
	background-image: url('../images/seven.jpg');
}

.eight.clicked {
	background-image: url('../images/eight.jpg');
}

.zero.clicked {
	background-image: url('../images/clicked.jpg');
}